* {
	box-sizing: border-box;
}

body {
	background: black;
}

.canvas-one {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	position: relative;
	background: #DA961B;
}

/* sphere - position absolute fixed etc only workd if you usethe call out top left right bottom*/
.sphere {
	position:absolute;
	background: white;
	height:300px;
	width: 300px;
	border-radius:50%;
	bottom: 200px;
	left:200px;

}

.squash {
	position:absolute;
	background:orange;
	height:151px;
	width:151px;
	border-radius:40%;
	bottom:150px;
	left:200px;

}
.squash .texture {
	position:absolute;
	background: green;
	height:100px;
	width:151px;
	border-radius:40%;
	bottom:150px;
	left:200px;

}

.water-glass-container {
	position:absolute;
	height:225px;
	width:100px;
	background: white;
	right: 200px;
	bottom:200px;
	opacity: 70%;
}

.water-glass-container .glass {
position:absolute;
height: 25px;
width:200px;
border-radius:50%;
top:20px;
left:60px;
}
.water-glass-container .top {
position:absolute;
height: 25px;
width:200px;
background:white;
border-radius:50%;
top:-12px;
border: 1px solid;
}

.water-glass-container .bottom {
position:absolute;
height: 25px;
width:200px;
background:white;
top:border-radius:50%;
top:-12px;
}
.water-glass-container .bottom {
position:absolute;
height: 25px;
width:100px;
background:white;
top:border-radius:50%;
top:-12px;
}


/*canvas two*/

.canvas-two {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: yellow;
	position: relative;
}

.canvas-two .squash {
	bottom: 10px;
}

.flower-box {
	position:absolute;
	width:400px;
	height:400px;
right: 200px;

}

.flower-a {
	position:absolute;
	right:40px;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid #9A2EFE;
	z-index:9;
	top:50px;
}
.flower-a.one { right:100px;
	top:60px;
	right:75px;

}
.flower-a.two { right:100px;
	top:69px;
}

.stem-box { height:310px;
	width:100px;
	right:200px;
	top:120px;
	position:absolute;
}

.stem {
	background: green;
	width: 10px;
	height: 305px;
	right:90px;
	position: absolute;

}
.stem.b {
		right:120px;
}

.stem.c {

		right:150px;
}


.vase-container {
	/*background: indigo;*/
    width: 100px;
    height: 325px;
    right: 270px;
    bottom:50px;
    position: absolute;
    z-index:100;
}

.vase {
	width: 100px;
	height: 250px;
	background: white;
	opacity: 0.5;
}

.vase-bottom {
	width: 100px;
	height: 25px;
	border-radius: 50%;
	bottom: 70px;
	background: white;
	position: absolute;
}

.squash.a {bottom:160px;
z-index:200;}

