.container1 {
	

}

.body {
height: px;
width:400px;
padding: 15px;
position:left;
font-style;
font-size: 40px;
font-family: font-family: 'Raleway', sans-serif;
text-align right;
line-height: 1.5em;
background-color: ;
}


.body2 {
height: px;
width:400px;
padding: 15px;
font-style;
font-size: 40px;
font-family: font-family: 'Raleway', sans-serif;
text-align right;
line-height: 1.5em;
background-color:;
margin-left: 430px;
}

.body3 {
height: px;
width:400px;
padding: 15px;
font-style;
font-size: 40px;
font-family: font-family: 'Raleway', sans-serif;
text-align right;
line-height: 1.5em;
background-color: ;
margin-left: 860px;
}

.body4 {
height: px;
width:400px;
padding: 15px;
font-style;
font-size: 40px;
font-family: font-family: 'Raleway', sans-serif;
text-align right;
line-height: 1.5em;
background-color: ;
margin-left: 1260px;
}





