
.body {
height: px;
text-align: center;

padding: 15px;
position:left;
font-style;
font-size: 14px;
font-family: 'arial black';
text-align:; right;
line-height: ;
text-transform: capitalize;
}

.huge {font-size: 60px;}