* { box-sizing: border-box; }

html, body {
	height: 100%;
}

body {
	margin: 0;
	font-size: 21px;
	font-family: 'Noto Serif', serif;
	color:#545454;
}

a {
	color: black;
	text-decoration: none;
}


.container {
	width: 100%;
	margin: 0 auto;
}
.container2 {
	width: 80%;
	margin: 0 auto;
}

/* Daily reflections */

.daily-reflections {
	background: #f4e9e0;
	padding: 50px;
}

.daily-reflections .date {
	width: 20%;
	float: left;
	font-family: 'Signika', sans-serif;
	font-size:40px;
	color: rgb(80, 143, 255);
}
.number {font-size:72px;
		line-height: .5em}

.daily-reflections .text {
	width: 80%;
	float: left;
}

.clearer {
	clear: both;
}

/* Find SA */

.find-sa {
	background: rgb(80, 143, 255);
	border-top: 4px solid white;
	border-bottom: 4px solid white;
	padding: 50px;
}

.find-sa .slogan {
	width: 70%;
	float: left;
	font-size: 63px;
	color: #ffffff;
}

.find-sa .zip-code {
	width: 30%;
	margin-top:4%;
	float: left;
	background: #ffffff;
}
.heading {font-family: 'Signika', sans-serif;}

/* Triple */

.triple {
	background: #f4e9e0;
}

.triple .one,
.triple .two,
.triple .three {
	width: 33.33%;
	float: left;
	padding: 50px;
	text-align: center;
}
.triple .one {
background-image: url('razor.png');
    background-repeat: no-repeat;
    background-size:60%;
}

.triple .two {
background-image: url('book.png');
    background-repeat: no-repeat;
    background-size:60%;
}

.triple .three {
background-image: url('computer.png');
    background-repeat: no-repeat;
    background-size:60%;
}


/* pic */


.picone {
	height:35%;
	width:100%;

}

 #bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  	  z-index:-1;
	
  /* Preserve aspet ratio */
  min-width: 100%;
  max-height: 100%;
}
 
/* Input zip code */

input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  padding: 3px 6px;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
input[type="text"]:focus {
  outline: none;
}

/*media q's*/

 @media only screen and (max-width: 600px) {
    .container { width: 100%;}
    .container2 { width: 30%;}


    .triple .one { width: 50%;
    	background-size: 25%;}

    .triple .two { width: 50%;
    	background-size: 25%;}

    .triple .three { width: 50%;
    	background-size: 25%;}







/*@media screen and (max-width: 610px) {
	body {background: blue !important;}
}

body {font-size:10px
}

@media screen and (max-width: 610px) {
#room-message {
	position:static;
	text-align:left;
}
*/

