.navi {border: 8px solid;
border-color: #cccccc;
font-family: arial;
height: 30px;
width: 40px;
display: inline-block;
padding-top:5px;
text-align: center;
font-size:15px;}

.navi a:link {text-decoration:none;
color: #cccccc;}

.navi a:visited {color: #cccccc;}

.title{
width:300px;
margin:12px;
padding:10px;
border: 10px solid;


}
