

.title {
	height: 300px;
	width: 200px;
border: 6px solid;
margin:12px;
padding:5px;
font-size:14px;


}
.body {
	height: 150px;
	width: 200px;
margin:12px;
float: left;
border: 3px solid;
padding:5px;
font-size:14px;
}

.list {
	height: 150px;
	width: 200px;
margin:12px;
float: left;
border: 3px dotted;
padding:5px;
font-size:14px;
}

.bar {
	width: 100%;
margin:12px;
border: 3px solid;
float:left;
font-size:14px;
}

.list2 {
	width: 200px;
	height:300;
margin:12px;
float: left;
border: 3px dotted;
padding:5px;
font-size:14px;
}

.list3 {
	width: 200px;
margin:12px;
float: left;
border: 3px solid;
padding:5px;
font-size:14px;
}


.list4 {
	width: 200px;
margin:12px;
float: right;
border: 3px solid;
padding:5px;
font-size:14px;
}