.body1{
border: 10px solid;
margin:12px;
padding:10px;
position:relative;
width: 900px;

}

.bodytwo {

border: 2px dotted;
padding:10px;
display: inline-block;
width: 800px;

}
.bodytwo-1 {

border: 5px dashed;
padding:10px;
display: inline-block;
width: 900px;

}

.bodythree {

border: 2px solid;
padding:10px;
display: inline-block;
width: 800px;

}
