/*base*/
/*../ =go back*/



body { background: red; }

/*
.horse {width:150px;
height:150px;
background-color:yellow;
/*background: url('...');}*/*/

@media screen and (max-width: 1024px) {
  body { background: blue; }

  /*.horse {background: url('');
	}*/
}

@media screen and (max-width: 768px) {
  body { background: yellow; }
}

@media screen and (max-width: 600px) {
  body { background: lime; }
}

@media screen and (max-width: 480px) {
  body { background: cyan; }
}

@media screen and (max-width: 320px) {
  body { background: magenta; }
}