


body {
  font-family: 'Kranky';
  text-align: center;
  font-size:50px;
}


.box {
  margin: 120px;
  padding: 40px 40px 40px 40px;
  width: 856px;
  height: 600px;
  border: 2px solid #2F4F4F;
/*  position: absolute;*/
  margin-bottom: 40px;
}


.trash { 
background-color: #ffffff;
border-left: 20px solid;
border-right: 20px solid;
border-bottom: 20px solid;
border-top: 0px;
border-color: black;
opacity: 0.9;
padding:20px;
position: fixed;
bottom: 0;
margin: 100px 100px 20px 100px;
width: 900px;
height: 60%;
z-index: 2;
}

.white-space {
  position: fixed;
  background: white;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
}

.innards {background-color: #32CD32;
}

.out {z-index:3;
font-size:70px;}
