



.body {
	font-size: 40px;
	color: white;

line-height: 1em;
text-align: center;
font-family: 'Kranky';
background-color: #20B2AA;
padding:20px;
  position: absolute;
  margin: 100px;
  width: 900px;
  height: 900px;}


.body2 { 
background-color: #228B22;
padding:20px;
position: fixed;
margin: 100px;
  width: 900px;
  height: 900px;
}

.body3 {background-color: #2E8B57;
margin: 100px;
  width: 900px;
  height: 900px;}

.body4 {background-color: #2F4F4F;
	margin: 100px;
  width: 900px;
  height: 900px;}

  .body5 {background-color: #32CD32;
margin: 100px;
  width: 900px;
  height: 900px;}

.body6 {background-color: #3CB371;
	margin: 100px;
  width: 900px;
  height: 900px;}

  .body7 {background-color: #40E0D0;
margin: 100px;
  width: 900px;
  height: 900px;}

.body8 {background-color: #4169E1;
	margin: 100px;
  width: 900px;
  height: 900px;}

  .body9 {background-color: #483D8B;
margin: 100px;
  width: 900px;
  height: 900px;}

.body10 {background-color: #556B2F;
	margin: 100px;
  width: 900px;
  height: 900px;}
