body {
    color: #cccccc;
}

a:link {color: #000000; text-decoration: underline; }
a:active {color: #0000ff; text-decoration: underline; }
a:visited {color: #008000; text-decoration: underline; }
a:hover {color: #ff0000; text-decoration: none; }

.navbox 
	{border: 15px solid;
	border-color: #cccccc;
	font-family: 'Open Sans', sans-serif;
	height: 90px;
	width: 100px;
	display: inline-block;
	text-align: center;
	padding: 20px;
	font-size:50px;
	}

a:link {
color: green;
  text-decoration: none;
}
a:visited {color: #6F4E37; 
  text-decoration: none;
  }

a:hover {
  color: green;
  text-decoration: none;
    background-color: yellow;
}

#nav-container {
    position: fixed;
    top: 8px;
    left: 8px;
}

/* Below: this means any link that is inside of #nav-container */
#nav-container a {
    text-decoration:none;
    color: #cccccc;
    border: 8px solid;
    border-color: #cccccc;
    font-family: arial;
    width: 40px;
    padding: 10px 0;
    display: inline-block;
    text-align: center;
    font-size:15px;
    background-color:white;

}

#content-body{
	margin-top:10%;}