

body {
  font-family: 'tahoma';
  text-align: center;
  font-size:50px;
}

.navbox {border: 15px solid;
border-color: #cccccc;
font-family: 'Sigmar One';
font-color: green;
height: 90px;
width: 100px;
display: inline-block;
text-align: center;
padding: 20px;
}

.navbox a:link {text-decoration:none}

.navbox a:hover { 
    background-color: yellow;
}


